.border {
  border: 0.1rem solid red;
}

#signin-page-logo {
  text-align: center;
}

#signin-page {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin-top: 1rem;
}

#signin-container {
  text-align: center;
}

#username-input {
  margin-top: 1rem;
}

#password-input {
  margin-top: 1rem;
}

#signin-button {
  margin-top: 1rem;
}

#navbar-container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  text-align: center;
}

#create-post-container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  margin-bottom: 1rem;
}

#post-title-input {
 margin-left: 1rem;
}

#post-image-input {
  margin-left: 2rem;
}

#create-post-button {
 margin-left: 3rem;
 margin-right: 1rem;
}

#all-posts-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.profile-image {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}

.profile-image-name-container {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 5rem 70%;
}

.profile-name {
  margin-top: 1.5rem;
  padding-left: 1rem;
}

.post-image {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  margin-top: 1rem;
}

.likes {
  margin-top: 1rem;
}

.likes-button {
  margin-top: 1rem;
}